<div class="cards">
    <ngx-backdrop class="content" [show]="true" [styles]="styles">
    </ngx-backdrop>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fuga fugit minima illo recusandae? Cupiditate provident dolorum suscipit, quam magnam nam minima recusandae sapiente! Dicta odio architecto nam porro laboriosam!
        Minima quidem voluptates illum laudantium deserunt reprehenderit! Libero nihil maxime nemo sequi facere incidunt sapiente ut quo officiis omnis nostrum modi saepe reprehenderit enim eligendi ad, voluptate, consequuntur ex minus.
        Rniti rerum iusto consequatur eveniet officiis numquam, voluptate in! Explicabo rem blanditiis et soluta sint reprehenderit ullam pariatur eveniet saepe nobis magnam veritatis velit, voluptate, recusandae deserunt?
        <div class="btn-container">
            <button class="btn-more" (click)="onViewMore()">View More</button>
        </div>
    </div>
</div>

<div class="cards">
    <ngx-backdrop [show]="true" [styles]="styles"  [canBackDropDismiss]="true">
    </ngx-backdrop>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fuga fugit minima illo recusandae? Cupiditate provident dolorum suscipit, quam magnam nam minima recusandae sapiente! Dicta odio architecto nam porro laboriosam!
        Minima quidem voluptates illum laudantium deserunt reprehenderit! Libero nihil maxime nemo sequi facere incidunt sapiente ut quo officiis omnis nostrum modi saepe reprehenderit enim eligendi ad, voluptate, consequuntur ex minus.
        Rniti rerum iusto consequatur eveniet officiis numquam, voluptate in! Explicabo rem blanditiis et soluta sint reprehenderit ullam pariatur eveniet saepe nobis magnam veritatis velit, voluptate, recusandae deserunt?
    </div>
    <div class="btn-container">
        <button class="btn-more" (click)="onViewMore()">View More</button>
    </div>
</div>

<div class="code-container">
  <div class="installation-header">
    @Installation
  </div>
  <div class="installation-body">
    <app-installation></app-installation>
  </div>
  <div class="usage-header">
    @Usage
  </div>
   <div class="usage-body">
        html:
    </div>
       <textarea autosize  disabled="true" class="text-doc">
        <div class="cards">
            <ngx-backdrop class="content" [show]="true" [styles]="styles">
            </ngx-backdrop>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fuga fugit minima illo recusandae? Cupiditate provident dolorum suscipit, quam magnam nam minima recusandae sapiente! Dicta odio architecto nam porro laboriosam!
                Minima quidem voluptates illum laudantium deserunt reprehenderit! Libero nihil maxime nemo sequi facere incidunt sapiente ut quo officiis omnis nostrum modi saepe reprehenderit enim eligendi ad, voluptate, consequuntur ex minus.
                Rniti rerum iusto consequatur eveniet officiis numquam, voluptate in! Explicabo rem blanditiis et soluta sint reprehenderit ullam pariatur eveniet saepe nobis magnam veritatis velit, voluptate, recusandae deserunt?
                <div class="btn-container">
                    <button class="btn-more" (click)="onViewMore()">View More</button>
                </div>
            </div>
        </div>
       </textarea>
       <div>
        scss:
      </div>
      <textarea autosize disabled="true" class="text-doc">
        .cards {
            position: relative;
            margin-bottom: 10px;
            padding: 20px;
          }
          
          .btn-container {
            display: flex;
            justify-content: flex-end;
            .btn-more {
              padding: 4px 10px;
              position: absolute;
              bottom: 3px;
              right: 5px;
              z-index: 9999;
            }
        }
      </textarea>
       <div>
        ts:
      </div>
      <textarea autosize disabled="true" class="text-doc">
        export class ElementContentOverlayComponent {
            styles = {
              background: 'rgba(0,0,0,0.6)',
            };
          
            onViewMore() {
              alert('view more rocks');
            }
          }          
      </textarea>
</div>




