<ul>
  <li
    routerLink="./content"
    routerLinkActive="li-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Content Overlay
  </li>
  <li routerLink="./element" routerLinkActive="li-active">
    Element Content Overlay
  </li>
  <li routerLink="./full" routerLinkActive="li-active">Full Overlay</li>
</ul>
<div class="tab-body">
  <router-outlet></router-outlet>
</div>
<div class="github-link">
  MIT license @indraraj26/ngx-backdrop
  <div>
    <a href="https://github.com/indraraj26" target="_blank">
      © indraraj26
    </a>
  </div>
</div>