<div class="cards">
    <ngx-backdrop class="full" [show]="true" [styles]="styles" [canBackDropDismiss]="true">
    </ngx-backdrop>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fuga fugit minima illo recusandae? Cupiditate provident dolorum suscipit, quam magnam nam minima recusandae sapiente! Dicta odio architecto nam porro laboriosam!
        Minima quidem voluptates illum laudantium deserunt reprehenderit! Libero nihil maxime nemo sequi facere incidunt sapiente ut quo officiis omnis nostrum modi saepe reprehenderit enim eligendi ad, voluptate, consequuntur ex minus.
        Rniti rerum iusto consequatur eveniet officiis numquam, voluptate in! Explicabo rem blanditiis et soluta sint reprehenderit ullam pariatur eveniet saepe nobis magnam veritatis velit, voluptate, recusandae deserunt?
        <div class="btn-container">
            <button class="btn-more" (click)="onViewMore()">View More</button>
        </div>
    </div>
</div>
