/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

body {
    padding: 4px;
}

.text-doc {
    border:0;
    background-color: #fffdeb;
    overflow-y: hidden;
    width: calc(100% - 5%);
    padding: 10px;
}

@mixin section-header() {
  color: #6e6e6e;
  margin-bottom: 10px;
}

.installation-header, .usage-header {
  @include section-header;
}